a 
{ 
  text-decoration: none; 
}

body 
{ 
  font-family: Arial; 
}

h1
{
  text-align: center;
}

.l1 
{ 
  font-size: 12pt; 
  margin-top: 15px; 
}

.l2 
{ 
  font-size: 10pt; 
  list-style-type: disc;
  margin-top: 5px;
}

.l3
{ 
  font-size: 10pt; 
  list-style-type: disc;
  margin-top: 5px;
}
